.header{
	padding: 40px 0;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.menu{
	&__list{
		display: flex;
	}
	&__btn{
		display: none;
	}
	&__list-item + &__list-item{
		margin-left: 40px;
	}
	&__list-link{
		text-transform: uppercase;
		color: $title;
		text-decoration: none;
		transition: all .3s;
		padding-bottom: 0 2px 1px;
		@extend %roboto-400;
		&:hover{
			color: $accent;
			border-bottom: 1px solid $accent;
			@extend %roboto-700;
		}
	}
	&__list-link--active{
		color: $accent;
		border-bottom: 1px solid $accent;
		@extend %roboto-700;
	}
}
.user-nav{
	display: flex;
	&__link{
		position: relative;
	}
	&__num{
		position: absolute;
		right: -14px;
		top: -9px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $accent;
		color: white;
		text-align: center;
		line-height: 20px;
		font-size: 12px;
	}
	&__link + &__link{
		margin-left: 35px;
	}
}

@media (max-width: 1200px){
	.header{
		&__inner{
			padding-right: 10px;
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 860px){
	.menu{
		order: 1;
		margin-left: 40px;
		&__list{
			transition: all .3s;
			transform: translateY(-200%);
			position: absolute;
			top: 120px;
			width: 100%;
			left: 0;
			flex-direction: column;
			z-index: 10;
			align-items: center;
			&.menu__list--active{
				transform: translateY(0%);
				background-color: #fff;
			}
			&-item{
				width: 100%;
				text-align: center;
				&+&{
					margin-left: 0;
				}
			}
			&-link{
				display: block;
				padding: 12px 0;
			}
		}
		&__btn{
			width: 30px;
			height: 22px;
			border: none;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			padding: 0;
			span{
				width: 100%;
				height: 3px;
				background-color: $title;
			}
			&::after,
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $title;
			}
			&::before{
				top: 0;
			}
			&::after{
				bottom: 0;
			}
		}
	}
	.user-nav{
		margin-left: auto;
	}
}
@media (max-width: 500px){
	.header{
		&__inner{
			padding-right: 0;
		}
	}
	.menu{
		order: 0;
		&__list{
			top: 140px;
		}
	}
	
	.user-nav{
		width: 100%;
		justify-content: flex-end;
		margin-top: 35px;
		padding-right: 15px;
	}
}